doctype html
html
  head
    title Add Customer
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    link(href="scss/_variables.scss")
  body
    h1.text-center  New Customer
    form.text-center(action='/addcustomer', method='POST')
      div
        input(placeholder='firstname' type="text", name="firstname")
      div
        input(placeholder='lastname' type="text", name="lastname")
      div
        input(placeholder='email' type="text", name="email") 
      div
        input(placeholder='phone' type="text", name="phone")
      hr
      div
        input(type="submit", value="Add").btn.btn-primary